{% extends "AppCoder/master.html" %}

{% load static %}

{% block contenidoSecciones %}
<header style="height: 100px;  background-color: rgb(35, 36, 35); padding-top: 60px; height: 150px; ">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h3 class="mb-1">Noticias</h3>
                    <h5 class="mb-2">estás editando</h5>

                </div>
            </div>
        </div>
    </div>
</header>

<footer class="footer bg-light">
    <div class="container">
        <div class="row" style="max-width: 600px; margin-left: auto; margin-right:auto">
            <p>
                <center>
                    <!-- creo el form -->
                    <center>
                            <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->    
    {% if miFormulario.errors %}

    <p style="color: red;"> Están mal los datos, revisar</p>

    {% endif %}

    <p style="color: red;"> {{mensaje}}</p>

    <form action="" method="POST">{% csrf_token %}

        <!-- Acá está la magia de Django-->
        
        <table>

            {{ miFormulario.as_table }}


        </table>


        <input type="submit", value="Actualizar curso">

    </form>
                    
    
                    </center>

                </center>

            </p>

        </div>
    </div>
</footer>

{% endblock %}