{% extends "AppCoder/master.html" %}

{% load static %}

{% block contenidoSecciones %}
<header style="height: 100px;  background-color: rgb(35, 36, 35); padding-top: 60px; height: 150px; ">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h3 class="mb-1">Acerca de Nosotros</h3>
                    <h5 class="mb-2">Un poco de nuestra historia</h5>

                </div>
            </div>
        </div>
    </div>
</header>

<section class="showcase">
    <div class="container-fluid p-0">

        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('https://images.alphacoders.com/994/thumbbig-994711.webp')"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Somos desarrolladores ingresando al mundo IT</h2>
                <p class="lead mb-0">Tanto si eres un recién graduado en ingeniería informática como si ya eres un programador experto totalmente preparado para su siguiente reto, conseguir tu próximo trabajo en programación no es tan difícil como podrías pensar. Una carta de presentación ganadora para un programador es aquella que marca la diferencia.

                    Pero, ¿cómo destacar cuando muchos de los otros candidatos tienen las mismas competencias técnicas y a veces incluso más conocimientos que tú sobre lenguajes de programación?
                    
                    Encabezado de la carta de presentación
                    El encabezado de tu carta de presentación cumple dos funciones importantes. La primera es ayudar a los encargados de la selección de personal a asociar un documento específico con tu nombre. Al vincular el diseño visual y un texto apasionado con tus datos personales, el responsable de la contratación recordará quién eres y cómo ponerse en contacto contigo. En las organizaciones medianas y grandes, el proceso de selección corre a cargo de un equipo completo de Recursos Humanos o de contratación, por lo que tu encabezado te garantiza que, independientemente de quién lea tu carta de presentación, cualquiera sabrá cómo ponerse en contacto contigo.</p>
            </div>
        </div>

    </div>
</section>

{% endblock %}